[submodule "themes/orbit"]
	path = themes/orbit
	url = https://github.com/aerohub/hugo-orbit-theme.git
[submodule "themes/hugo-orbit-theme"]
	path = themes/hugo-orbit-theme
	url = https://github.com/aerohub/hugo-orbit-theme.git
